###- Variables -###
# Mods #
set $mod Mod4
set $agr Mod5
# Colors - Base16 #
set $blu #223344
set $fgr #888888
set $gre #555566
set $grn #285555
set $pur #aa55ff
set $red #900000
set $wht #ffffff
# Workspaces #
set $wp1 "1:dev"
set $wp2 "2:db"
set $wp3 "3:remote"
set $wp4 "4:gis"
set $wp5 5
set $wp6 6
set $wp7 7
set $wp8 8
set $wp9 "9:www"
set $wp10 "10:im"
# Displays
set $disout HDMI-2
set $disint eDP-1
set $outmod 1920x1080
set $intmod 1920x1080

# Font for window titles. Will also be used by the bar unless a different font
# is used in the bar {} block below. ISO 10646 = Unicode
#font -misc-fixed-medium-r-normal--13-120-75-75-C-70-iso10646-1
# The font above is very space-efficient, that is, it looks good, sharp and
# clear in small sizes. However, if you need a lot of unicode glyphs or
# right-to-left text rendering, you should instead use pango for rendering and
# chose an xft font, such as:
font xft:Bitstream Vera Sans Mono Roman 10

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# start a terminal
bindsym $mod+Return exec i3-sensible-terminal

# kill focused window
bindsym $mod+Shift+q kill

# # start dmenu (a program launcher)
# bindsym $mod+d exec dmenu_run
# bindsym $mod+Shift+d exec --no-startup-id i3-dmenu-desktop
# start rofi
bindsym $mod+d exec --no-startup-id "rofi -show run -font \\"Bitstream Vera Sans Mono Roman 10\\" -columns 2 -run-shell-command '{terminal} -e \\" {cmd}; read -n 1 -s\\"' -show-icons"

# change focus
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

# alternatively, you can use the cursor keys:

# move focused window
bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right

# alternatively, you can use the cursor keys:
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# split in horizontal orientation
bindsym $mod+y split vertical

# split in vertical orientation
bindsym $mod+v split horizontal

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent container
bindsym $mod+a focus parent
bindsym $mod+Shift+a focus child

# focus the child container
#bindcode $mod+d focus child

# switch to workspace
bindsym $mod+1 workspace $wp1
bindsym $mod+2 workspace $wp2
bindsym $mod+3 workspace $wp3
bindsym $mod+4 workspace $wp4
bindsym $mod+5 workspace $wp5
bindsym $mod+6 workspace $wp6
bindsym $mod+7 workspace $wp7
bindsym $mod+8 workspace $wp8
bindsym $mod+9 workspace $wp9
bindsym $mod+0 workspace $wp10

bindsym $mod+Left workspace prev
bindsym $mod+Right workspace next

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace $wp1
bindsym $mod+Shift+2 move container to workspace $wp2
bindsym $mod+Shift+3 move container to workspace $wp3
bindsym $mod+Shift+4 move container to workspace $wp4
bindsym $mod+Shift+5 move container to workspace $wp5
bindsym $mod+Shift+6 move container to workspace $wp6
bindsym $mod+Shift+7 move container to workspace $wp7
bindsym $mod+Shift+8 move container to workspace $wp8
bindsym $mod+Shift+9 move container to workspace $wp9
bindsym $mod+Shift+0 move container to workspace $wp10

workspace $wp1 output $disout
workspace $wp2 output $disout
workspace $wp3 output $disout
workspace $wp4 output $disout
workspace $wp5 output $disout
workspace $wp6 output $disout
workspace $wp7 output $disout
workspace $wp8 output $disout
workspace $wp9 output $disint
workspace $wp10 output $disint

# reload the configuration file
bindsym $mod+Shift+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart
# exit i3 (logs you out of your X session)
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"

# resize window (you can also use the mouse for that)
mode "resize" {
        # These bindings trigger as soon as you enter the resize mode

        # Pressing left will shrink the window’s width.
        # Pressing right will grow the window’s width.
        # Pressing up will shrink the window’s height.
        # Pressing down will grow the window’s height.
        bindsym h resize shrink width 10 px or 10 ppt
        bindsym j resize grow height 10 px or 10 ppt
        bindsym k resize shrink height 10 px or 10 ppt
        bindsym l resize grow width 10 px or 10 ppt

        # same bindings, but for the arrow keys
        bindsym Left resize shrink width 10 px or 10 ppt
        bindsym Down resize grow height 10 px or 10 ppt
        bindsym Up resize shrink height 10 px or 10 ppt
        bindsym Right resize grow width 10 px or 10 ppt

        # back to normal: Enter or Escape
        bindsym Return mode "default"
        bindsym Escape mode "default"
}

bindsym $mod+r mode "resize"

# Start i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)
# py3status -> pip install py3status
bar {
        status_command py3status -c /home/pedro/.config/i3/i3status.conf
    colors {
        background $gre
        statusline $wht

        focused_workspace  $wht $grn
        active_workspace   $wht $pur
        inactive_workspace $fgr $blu
        urgent_workspace   $wht $red
    }
}

# My settings

# start a file manager
bindsym $mod+z exec i3-sensible-terminal -e vifm
# Open gvim
bindsym $mod+g exec gvim
# start a web browser
bindsym $mod+n exec firefox
bindsym $mod+Shift+n exec google-chrome

# Make the currently focused window a scratchpad
bindsym $mod+Shift+minus move scratchpad
# Show the first scratchpad window
bindsym $mod+minus scratchpad show

# i3-power requires Zenity
# Close session
bindsym $mod+Shift+i exec ~/bin/i3-power exit
# supend and lock
bindsym $mod+Shift+o exec ~/bin/i3-power suspend
# Shutdown the computer (user has NOPASSWD set up at sudo config for this command)
bindsym $mod+Shift+p exec ~/bin/i3-power shutdown

# Lock screen
bindsym $mod+Control+l exec i3lock -c 332222

# Change the keyboard layout
bindsym $mod+Control+q exec setxkbmap es -model tm2030USB
bindsym $mod+Control+d exec setxkbmap es -variant dvorak -model tm2030USB

# Taking screenshots to get the code use: xev
# bindcode --release 107 exec --no-startup-id import /tmp/screenshot_`date +"%Y%m%d_%H%M%S"`.png
bindcode --release 107 exec --no-startup-id flameshot gui -p /tmp/

## BRIGHTNESS
bindcode --release 233 exec xrandr --output $disint --brightness $(echo "$(xrandr --verbose |grep Brightness |grep -o '[0-9].*')+0.1" | bc)
bindcode --release 232 exec xrandr --output $disint --brightness $(echo "$(xrandr --verbose |grep Brightness |grep -o '[0-9].*')-0.1" | bc)

# app settings

# Make all google-chrome use a 1-pixel border:
for_window [class="Google-chrome"] border 1pixel
for_window [class="Firefox"] border 1pixel

# Floating windows identify with $ xprop
for_window [class="File-roller"] floating enable
for_window [class="[Kk]alarm"] floating enable

bindsym $mod+o [class="Spotify"] scratchpad show
bindsym $mod+t [class="X-terminal-emulator"] scratchpad show

# Assign apps to workspaces identify with $ xprop
assign [instance="slack"] $wp10
assign [class="[Tt]elegram"] $wp10

# COLORS

# class                 border  backgr. text    indicator child_border
client.focused          #2E3440 #2E3440 #ffffff #2e9ef4   #4C566A 
client.focused_inactive #333333 #5f676a #ffffff #484e50   #5f676a
client.unfocused        #3B4252 #3B4252 #888888 #292d2e   #222222
client.urgent           #2f343a #900000 #ffffff #900000   #900000
client.placeholder      #000000 #0c0c0c #ffffff #000000   #0c0c0c

client.background       #ffffff

# auto starts
# services
## network-manager-gnome
exec --no-startup-id nm-applet
## blueman
exec --no-startup-id blueman-applet
# applet with icon
exec --no-startup-id XDG_CURRENT_DESKTOP="xfce" kmix
# notification system was not working
exec --no-startup-id dunst
# configurando las pantallas
exec sleep 10; xrandr --output $disout --mode $outmod; xrandr --output $disint --mode $intmod --below $disout
# exec sleep 10; xrandr --output $disout --mode $outmod; xrandr --output $disint --mode $intmod --below $disout

# apps
# exec --no-startup-id ~/bin/keyundock.sh
exec caffeine-indicator
exec i3-msg 'workspace $wp1; exec i3-sensible-terminal'
exec --no-startup-id slack
exec --no-startup-id sleep 15; QT_IM_MODULE=xim /home/pedro/bin/telegram
exec --no-startup-id sleep 15; autokey
exec sleep 40; /home/pedro/bin/myconky

# Para generar el json:i3-save-tree --workspace $wp11 > workspace_11.json
#exec --no-startup-id i3-msg 'workspace $wp10; append_layout /home/pferrer/.config/i3/ws10.json'

# a wallpaper requires feh
exec sleep 5; ~/bin/changebackground
