set $mod Mod4

# font for window titles. ISO 10646 = Unicode
font -misc-fixed-medium-r-normal--13-120-75-75-C-70-iso10646-1

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# start a terminal
bindsym $mod+Return exec i3-sensible-terminal

# kill focused window
bindsym $mod+Shift+Q kill

# start dmenu (a program launcher)
bindsym $mod+d exec dmenu_run

# change focus
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

# alternatively, you can use the cursor keys:

# move focused window
bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right

# alternatively, you can use the cursor keys:
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# split in horizontal orientation
bindsym $mod+y split vertical

# split in vertical orientation
bindsym $mod+v split horizontal

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen

# change container layout (stacked, tabbed, default)
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout default

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent container
bindsym $mod+a focus parent

# focus the child container
#bindcode $mod+d focus child

# switch to workspace
bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace "3: term"
bindsym $mod+4 workspace "4: file"
bindsym $mod+5 workspace "5: mail"
bindsym $mod+6 workspace "6: www"
bindsym $mod+7 workspace "7: im"
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9
bindsym $mod+0 workspace 10

bindsym $mod+Left workspace prev
bindsym $mod+Right workspace next

# move focused container to workspace
bindsym $mod+Shift+1 move workspace 1
bindsym $mod+Shift+2 move workspace 2
bindsym $mod+Shift+3 move workspace "3: term"
bindsym $mod+Shift+4 move workspace "4: file"
bindsym $mod+Shift+5 move workspace "5: mail"
bindsym $mod+Shift+6 move workspace "6: www"
bindsym $mod+Shift+7 move workspace "7: im"
bindsym $mod+Shift+8 move workspace 8
bindsym $mod+Shift+9 move workspace 9
bindsym $mod+Shift+0 move workspace 10

# reload the configuration file
bindsym $mod+Shift+C reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+R restart
# exit i3 (logs you out of your X session)


# resize window (you can also use the mouse for that)
mode "resize" {
        # These bindings trigger as soon as you enter the resize mode

        # They resize the border in the direction you pressed, e.g.
        # when pressing left, the window is resized so that it has
        # more space on its left
        # Pressing down will grow the window’s height.
        bindsym h resize shrink width 10 px or 10 ppt
        bindsym j resize grow height 10 px or 10 ppt
        bindsym k resize shrink height 10 px or 10 ppt
        bindsym l resize grow width 10 px or 10 ppt

        # same bindings, but for the arrow keys
        bindsym Left resize shrink width 10 px or 10 ppt
        bindsym Down resize grow height 10 px or 10 ppt
        bindsym Up resize shrink height 10 px or 10 ppt
        bindsym Right resize grow width 10 px or 10 ppt

        # back to normal: Enter or Escape
        bindsym Return mode "default"
        bindsym Escape mode "default"
}

bindsym $mod+r mode "resize"

# Start i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)
bar {
        status_command i3status -c /home/perico/.i3/i3status.conf
    colors {
        background #555566
        statusline #ffffff

        focused_workspace  #ffffff #285555
        active_workspace   #ffffff #aa55ff
        inactive_workspace #888888 #223344
        urgent_workspace   #ffffff #900000
    }
}

# My settings

# start a file manager
#bindsym $mod+z exec pcmanfm
bindsym $mod+z exec nautilus --no-desktop
# Open webbrowser
bindsym $mod+n exec google-chrome
# Open gvim
bindsym $mod+g exec gvim

# Make the currently focused window a scratchpad
bindsym $mod+Shift+minus move scratchpad
# Show the first scratchpad window
bindsym $mod+minus scratchpad show

# Close session
bindsym $mod+Shift+y exec ~/bin/i3-power exit
# supend and lock
bindsym $mod+Shift+u exec ~/bin/i3-power suspend
# Hibernate
bindsym $mod+Shift+i exec ~/bin/i3-power hibernate
# Reboot
bindsym $mod+Shift+o exec ~/bin/i3-power reboot
# Shutdown the computer (user has NOPASSWD set up at sudo config for this command)
bindsym $mod+Shift+p exec ~/bin/i3-power shutdown

# Lock screen
bindsym $mod+Control+l exec i3lock -c 000000
# Change the keyboard layout
bindsym $mod+Control+q exec setxkbmap es
bindsym $mod+Control+d exec setxkbmap es -variant dvorak

# app settings

# Make all google-chrome use a 1-pixel border:
for_window [class="Google-chrome"] border 1pixel

# Floating windows
for_window [class="Gtk-recordmydesktop"] floating enable
for_window [instance="arista-gtk"] floating enable
for_window [class="VASSAL"] floating enable
for_window [class="Rhythmbox"] floating enable
for_window [class="Gvim"] floating enable
for_window [class="VLC"] floating enable
for_window [class="Xchat-gnome"] floating enable
for_window [class="Skype"] floating enable
for_window [class="File-roller"] floating enable
for_window [class="Nautilus" instance="file_progress"] floating enable

# Assign apps to workspaces
assign [class="Skype"] 7: im
assign [class="Rhythmbox"] 7: im
assign [class="VLC"] 7: im

# auto starts
# services
exec xrandr --output HDMI2 --mode 1920x1080
exec dropbox start
exec unclutter
exec sleep 30; conky
exec skype
exec gnome-sound-applet
exec gnome-settings-daemon
exec nm-applet
# start apps: browser, im, music and a terminal at "term" workspace
exec --no-startup-id i3-msg 'workspace "3: term"; exec terminator -l ws3'

# a wallpaper
exec sleep 5; ~/bin/changebackground 
